.card {
  margin-bottom: 3rem;

  @include target-device(desktop) { margin-bottom:0; }

  &__image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    height: 200px;
  }
  &__link {
    font-family: bold-font;
  }
}

.horizontal {
  &-cards { 
    margin: 4rem 1rem; column-gap: 0; 
    &.flat { column-gap: 3rem; }
    @include target-device(desktop) { margin: 4rem 0; }
    &.re-order {
      &>div:nth-child(1) { order: 2; }
      &>div:nth-child(2) { order: 1; }
      @include target-device(tablet) {
        &>div:nth-child(1) { order: 1; }
        &>div:nth-child(2) { order: 2; }  
      }
    }
  }
  &-card {
    &__image {
      background-image: url(../images/rental.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      height: 200px;
      position: relative;

      @include target-device(tablet) {
        height: 100%;
      }

      .flat > & { 
        background-size: cover; 
        background-position: top;
      }

      &.wave-right:after,
      &.wave-left:after {
        content: url(../images/separator.svg);
        position: absolute;
        top: 58%;
        width: 100px;
        display: none;

        @include target-device(tablet) {
          display: block;
        }
      }
      &.wave-right:after { right: -4rem; }
      &.wave-left:after { left: -4rem; }
      &.wave-green:after { content: url(../images/separator-green.svg); }
      &.wave-turquoise:after { content: url(../images/separator-turquoise.svg); }
      &.wave-orange:after { content: url(../images/separator-orange.svg); }
    }
    &__text {
      background: white;
      color: $colour-dark;
      padding: 1rem 2rem 2rem;

      h3 { 
        margin-bottom: 1rem;
        @include target-device(tablet) { margin-bottom: 4rem; }
      }

      @include target-device(tablet) {
        padding: 6rem 4rem;
        .flat > & { padding: 2rem 4rem; }
      }

      &.dark {
        background: $colour-dark;
        color: white;
      }

      &.text-right { 
        padding: 2rem 2rem 0;
        @include target-device(tablet) { padding: 0 6rem 2rem 0; }
        @include target-device(desktop) { padding: 2rem 6rem 2rem 0; }
      }
      &.text-left { 
        padding: 2rem 2rem 0;
        @include target-device(tablet) { padding: 0 6rem 2rem 0; }
        @include target-device(desktop) { padding: 2rem 6rem 2rem 0; }
      }
    }
  }
}

.vertical {
  &-cards {
    column-gap: 2rem;
    justify-items: center;
  }

  &-card {
    max-width: 600px;
    height: 300px;
    width: 100%;
    background-size: cover;
    position: relative;
    margin-bottom: 4rem;

    &__button.button {
      background: white;
      position: absolute;
      bottom: -2rem;
      left: 50%;
      transform: translateX(-50%);
      max-width: unset;
      i { display: inline; margin-left: .5rem; }
    }
  }
}