h1, h2, h3 {
  font-family: bold-font;
}
p, li, a, button, span {
  font-family: regular-font;
}
a { text-decoration: none; color: black; }

.content {
  margin-bottom: 3rem;
}

.button {
  background: transparent;
  font-size: 16px;
  border: 3px solid black;
  padding: 10px 10px;
  cursor: pointer;
  display: inline-block;
}

.centered {
  margin: 1rem auto;
  display: block;
  text-align: center;
}

.vertical-margin {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.social-icons {
  i { color: black; font-size: 25px; }

  .header & {
    grid-area: nav;
    justify-self: end;
    margin: 1rem 2rem 0 0;
    
    i { color: black; font-size: 25px; margin-right: 1rem; }
  }

  .footer & {
    border-top: 2px solid white;
    margin-top: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;

    i { color: white; font-size: 25px; }
  }
}

.list {
  list-style: none;
  margin: 0 0 4rem;

  >* {
    position: relative;
    margin-bottom: 1rem;

    &:before {
      content: '\f111';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      position: absolute;
      top: 3px;
      left: -40px;
      font-size: 14px;
    }
  }
}

.image-boxes {
  max-width: 800px;
  margin: 5rem auto;
  column-gap: 3rem;
}

.image-box {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 300px;
  display: table;

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__title {
    color: white;
    text-align: center;
    display: table-cell; 
    vertical-align: middle;
    position: relative;
  }

  &.dark:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(black, .6);
  }
}

.headline {
  column-gap: 0;
  margin: 0;

  @include target-device(tablet) { margin: 6rem 0; }

  &__image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;

    @include target-device(tablet) { 
      background-size: cover; 
      height: unset; 
    }
  }

  &__text {
    margin: 1rem 0;
    padding: 1rem;
    background: $colour-dark;
    color: white;

    @include target-device(tablet) {
      padding: 2rem;
      margin: 4rem 0;
    }

    @include target-device(desktop) {
      padding: 8rem 0;
    }

    & p {
      max-width: 400px;
      margin: 1rem auto;
    }

    & .button {
      border-color: white;
      color: white;
      margin-top: .5rem;

      @include target-device(tablet) { margin-right: 1rem; }
    }
  }
}

.shaded {
  margin: 6rem 0;
  background: rgba(black, .05);

  >* {
    max-width: $page-content-width;
    margin: auto;
  }

  &__text {
    padding: 6rem 4rem;
    position: relative;

    .artist {
      position: absolute;
      bottom: 0;
    }
  }

  &.page-title {
    margin: 6rem 0 0;
    padding: 2rem 0;
  }
}

.link-list {
  &__link {
    display: block;
    color: white;
    position: relative;
    margin-bottom: 1rem;
    font-weight: bold;

    &:not(:last-of-type)::after {
      content: '';
      position: absolute;
      width: 60px;
      height: 2px;
      bottom: -.7rem;
      left: 0;
      background: white;
    }

    &.dark { 
      color: black; 
      &:not(:last-of-type)::after { background: black; }
    }
  }
}

.regular {font-family: regular-font; font-weight: normal;}

.secondary-bg { background: $colour-secondary; }
.secondary-color.secondary-color { color: $colour-secondary; }
