h1, h2, h3 {
  font-family: bold-font;
}
p, li, a, button, span {
  font-family: regular-font;
}
a { text-decoration: none; color: black; }

.button {
  background: transparent;
  font-size: 18px;
  border: 3px solid black;
  padding: 5px 10px;
  cursor: pointer;
}

.centered {
  margin: 1rem auto;
  display: block;
  text-align: center;
}

.social-icons {
  .header & {
    grid-area: nav;
    justify-self: end;
    margin: 1rem 1rem 0 0;
    
    i { color: black; font-size: 25px; }
  }

  .footer & {
    border-top: 2px solid white;
    margin-top: 1rem;
    padding-top: 1rem;
    display: flex;
    justify-content: space-between;

    i { color: white; font-size: 25px; }
  }
}

.page-content {
  position: relative;
  max-width: 1200px;
  margin: 4rem auto 0;

  &>* {
    padding: 0 1rem;
  }

  @include target-device(tablet) {

  }
}

.card {
  margin-bottom: 3rem;

  @include target-device(desktop) { margin-bottom:0; }

  &__image {
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
  }
  &__link {
    font-family: bold-font;
  }
}

.auto-grid {
  display: grid;
  grid-template-columns: auto;

  @include target-device(tablet) {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 1rem;
  }
}

.image-boxes {
  max-width: 800px;
  margin: 5rem auto;
  column-gap: 3rem;
}

.image-box {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 300px;
  display: table;

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &__title {
    color: white;
    text-align: center;
    display: table-cell; 
    vertical-align: middle;
    position: relative;
  }

  &.dark:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(black, .6);
  }
}