.dancers {
  margin: 3rem 1rem 0;
  column-gap: 2rem;

  @include target-device(phone) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include target-device(tablet) {
    grid-template-columns: repeat(3, 1fr);
  }
  @include target-device(desktop) {
    margin: 3rem 0 0;
    grid-template-columns: repeat(4, 1fr);
  }
}

.dancer {
  margin-bottom: 3rem;

  &__image {
    background-position: center;
    background-size: cover;
    height: 300px;
  }

  &__title {
    text-align: center;
    white-space: nowrap;
  }
}