@font-face {
  font-family: "regular-font";
  src: url('../fonts/alliance-no-2-regular-webfont.woff2') format("woff2"),
       url('../fonts/alliance-no-2-regular-webfont.woff') format("woff");
}

@font-face {
  font-family: "regular-font";
  src: url('../fonts/alliance-no-2-extrabold-webfont.woff2') format("woff2"),
       url('../fonts/alliance-no-2-extrabold-webfont.woff') format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "bold-font";
  src: url('../fonts/alliance-no-2-extrabold-webfont.woff2') format("woff2"),
       url('../fonts/alliance-no-2-extrabold-webfont.woff') format("woff");
}

@font-face {
  font-family: "button-font";
  src: url('../fonts/arimo-bold.woff2') format("woff2"),
       url('../fonts/arimo-bold.woff') format("woff");
}