// Force footer to the bottom

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.content { flex-grow: 1; }
.header, .content, .footer { flex-shrink: 0; }

.footer {
  width: 100%;
  background: $colour-dark;
  color: white;
  display: grid;
  padding: 2rem 0 5rem;

  @include target-device(desktop) {
    grid-template-areas: ". links .";
    grid-template-columns: 1fr 5fr 1fr;
  }

  &__links {
    grid-area: links;
    display: grid;
    grid-template-columns: auto;

    @include target-device(desktop) {
      grid-template-columns: repeat(6, 1fr);
      column-gap: 1rem;
    }
  }

  &__link {
    display: block;
    color: white;
    text-decoration: none;
  }

  &__col { position: relative; }
  &__logo {
    position: absolute;
    bottom: -5rem;
  }
}