.hero-home {
  display: grid;
  grid-template-columns: auto;

  @include target-device(tablet) {
    grid-template-columns: 1fr 1fr;
  }

  &__slider, &__page-links { 
    height: unset; 
    @include target-device(tablet) {
      height: 40vw; 
    }
  }

  &__slide {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    padding: 3rem 3rem;
    position: relative;

    @include target-device(desktop) {
      padding: 3rem 6rem;
    }

    &-title {
      color: black;
    }
  }

  &__page-link {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 120px center;
    width: 100%;
    height: 200px;
    display: flex;
    position: relative;

    @include target-device(tablet) {
      // display: flex;
      height: 25%;
    }

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
    }

    &.dark:before {
      background: linear-gradient(90deg, 
                  rgba(black,.7) 15%, 
                  rgba(transparent,0) 50%);
    }

    &.light:before {
      background: linear-gradient(90deg, 
                  rgba(white,.7) 15%, 
                  rgba(transparent,0) 50%);
    }

    &-title {
      align-self: center;
      margin-left: 3rem;
      position: relative;
    }
  }

  &__link {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 2;
  }
}

.hero-page {
  height: 300px;
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;

  @include target-device(tablet) { height: 40vw; }
  @include target-device(desktop) { height: 30vw; }

  &__bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20px;

    @include target-device(tablet) { height: 40px; }
    @include target-device(desktop) { height: 90px; }
  }

  &__title {
    background: black;
    color: white;
    display: inline-block;
    padding: 5px 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2rem;
    
    @include target-device(tablet) { font-size: 1.5rem; }
    @include target-device(desktop) { font-size: 2.3rem; }

    &:after {
      content: '\f078';
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: black;
      position: absolute;
      bottom: -40px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}