$colour-dark: #1B1D21;
$colour-secondary: #6F2277;
$colour-accent-1: #CCDB2A;
$colour-accent-2: #98D0DB;
$colour-accent-3: #E96852;
$colour-border: #A5BAC9;
$fa-font-path: '../vendor/fontawesome/webfonts';
$page-content-width: 1200px;